// fonts
$font-h1: 40px;
$font-h2: 26px;
$font-h3: 20px;
$font-main: 'Roboto', sans-serif;

// colors
$color-background-1: lightpink;
$color-background-2: lightblue;
$color-background-3: lightyellow;

//padding central column
$padding-central-column: 10%;
