<aside class="aside1">
  <article class="aside1__article">
    <figure></figure>
    <div>
      <h3>Autor</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis illum, quod possimus
        temporibus, libero minima maxime sunt beatae aperiam provident quaerat laudantium ducimus
        itaque ex, quos eveniet incidunt sequi aspernatur.
      </p>
    </div>
  </article>
  <article class="aside1__article">
    <ul>
      <li><a href="">Sección 1</a></li>
      <li><a href="">Sección 2</a></li>
      <li><a href="">Sección 3</a></li>
      <li><a href="">Sección 4</a></li>
      <li><a href="">Sección 5</a></li>
    </ul>
    <ul>
      <li>Categoría 1</li>
      <li>Categoría 2</li>
      <li>Categoría 3</li>
      <li>Categoría 4</li>
      <li>Categoría 5</li>
    </ul>
  </article>
</aside>
