<main class="section">
  <article class="section__article">
    <h2>Título del post</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis doloremque veniam cum alias
      consectetur voluptatum voluptates? Hic dolor officiis atque, magnam, cum architecto
      perspiciatis odio excepturi quam quasi veritatis ducimus.
    </p>
  </article>
  <article class="section__article">
    <h2>Título del post</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis doloremque veniam cum alias
      consectetur voluptatum voluptates? Hic dolor officiis atque, magnam, cum architecto
      perspiciatis odio excepturi quam quasi veritatis ducimus.
    </p>
  </article>
  <article class="section__article">
    <h2>Título del post</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis doloremque veniam cum alias
      consectetur voluptatum voluptates? Hic dolor officiis atque, magnam, cum architecto
      perspiciatis odio excepturi quam quasi veritatis ducimus.
    </p>
  </article>
</main>
